body{
    padding: 1em;
    background:rgb(255, 249, 249)
    
  }
  .page{
    max-width: 90em;
    margin: 0 auto;
    
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 3;
    /* 在WebKit中强制硬件加速  */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  header.is-fixed {
    position: fixed;
  }
  @media only screen and (min-width: 768px) {
    header {
      height: 70px;
    }
  }
  #cd-top-nav {
    position: absolute;
    top: 0;
    padding-left: 0px;
    
    height: 100%;
    display: none;
  }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 5px;
  }
  #cd-top-nav li {
    display: inline-block;
    margin-right: 1em;
  }
  #cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #b93b3b;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media only screen and (min-width: 768px) {
    #cd-top-nav {
      display: block;
    }
  }

  /* 表头 */
  table th{
    text-align:center;
  }
  /* 表中 */
  table td{
    text-align:left;
    
  }

  table.layout{
    width: 100%;
    border-collapse: collapse;
    
  }
  table.display{
    margin: 1em 0;
    
    
  }
  table.display th,
  table.display td{
    border: 1.5px solid rgb(250, 227, 232);
    padding: .5em 1em;
    
    
  }
  
  table.display th{ background: rgb(250, 227, 232); }
  table.display td{ background: #fff; }
 

  table.responsive-table{
    box-shadow: 0 1px 10px rgba(163, 49, 49, 0.2);
    
  }
  
  @media (max-width: 30em){
      table.responsive-table{
        
        box-shadow: none;
      }
      table.responsive-table thead{
        display: none;
      }
    table.display th,
    table.display td{
      padding: .5em;
    }
      
    table.responsive-table td:nth-child(1):before{
      content: 'sight';
    }
    table.responsive-table td:nth-child(2):before{
      content: 'automaticity';
    }
    table.responsive-table td:nth-child(3):before{
        content: 'emotion';
    }
    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2),
    table.responsive-table td:nth-child(3){
      padding-left: 25%;
    }
    table.responsive-table td:nth-child(1):before,
    table.responsive-table td:nth-child(2):before,
    table.responsive-table td:nth-child(3):before{
      position: absolute;
      left: .5em;
      font-weight: bold;
    }
    

      table.responsive-table tr,
      table.responsive-table td{
          display: block;
      }
      table.responsive-table tr{
          position: relative;
          margin-bottom: 1em;
      box-shadow: 0 1px 10px rgba(59, 32, 32, 0.2);
      }
      table.responsive-table td{
          border-top: none;
      }
      table.responsive-table td.organisationnumber{
          background: #f3f3f3;
          border-top: 1px solid #B3BFAA;
      }
      table.responsive-table td.actions{
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background: none;
      }
  }

  .concave-corners {
    background-color: #ffffff;
    border-radius: 30px;
    /* Used to position the corners */
    position: relative;
    top: 10px;
    right: 50px;
    bottom: 0;
    left: 0px;
}



.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -12px;
  right: 0;
  bottom: 0;
  left: -7px;
  background: linear-gradient(-45deg, #f2dbf5 10%, rgb(241, 192, 192) 100% );
  transform: translate3d(-3px, 20px, 0) scale(0.96);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      

/* ----------------------------------------------
 * Generated by Animista on 2023-11-23 16:42:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-out-left {
	-webkit-animation: slide-out-left 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}