.nav {
    text-indent: 50px;
    height: 80px;
    background-color: #fff;
}

.nav a {
    text-decoration: none;
    color: rgb(244, 105, 105);
    font-weight: 700;
    font-size: larger;
    padding-right: 10px;
    line-height: 80px;
}

.nav a:hover {
    color: rgb(223, 7, 64);
}
